<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xabaizhong.treemonistor">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- baidu map -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/rose"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fBHis1xlWjQjZ08jDPogZpBNzZ653Fhm"/>

        <activity
            android:name=".activity.Activity_main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activity.add_tree.Activity_add_manage"
            android:label="addTreeManger"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.add_tree.Activity_add_tree"
            android:label="tree_add"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.query_treeOrGroup.Activity_query"
            android:label="query"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.monitor.Activity_monitor"
            android:label="monitor"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.query_treeOrGroup.Activity_tree_detailInfo"
            android:label="tree-detail"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/image_selector"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Activity_login"
            android:label="login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".activity.Activity_welcome"
            android:label="monitor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Activity_news_show"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.add_tree.Activity_map"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.add_tree.Activity_tree_cname"
            android:label="选择树种"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.base_data.Activity_base_data"
            android:label="基础数据库"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.Activity_login2"
            android:label="@string/title_activity_login2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.add_tree.Activity_add_tree_group"
            android:label="tree-group"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.base_data.Activity_tree_base"
            android:label="树种信息查询"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.base_data.Activity_tree_base_detail"
            android:label="树种信息"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.base_data.Activity_base_pest"
            android:label="pest"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.base_data.Activity_base_pest_detail"
            android:label="pest-info"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.base_data.Activity_base_weakness"
            android:label="weaknewss"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.base_data.Activity_base_weakness_detail"
            android:label="weaknewss"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Activity_userInfo"
            android:label="user_detail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.query_treeOrGroup.Activity_query_tree_info"
            android:label="tree-query"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.query_treeOrGroup.Activity_query_tree_info_list"
            android:label="tree-query"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.expert.Activity_monitor_growth"
            android:label="monitor-growth"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.expert.Activity_species"
            android:label="树种鉴定"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.expert.Activity_expert_bug"
            android:label="病虫鉴定"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.expert.Activity_expert_weak"
            android:label="病害鉴定"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.expert.Activity_expert_weak2"
            android:label="病害鉴定"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.base_data.Activity_pic_vp"
            android:label="病害鉴定"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.expert_zd.Activity_expert_zd"
            android:label="专家诊断"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.expert_zd.Activity_expert_zd_detail"
            android:label="专家诊断"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.monitor_query.Activity_monitor_query"
            android:label="监管查询"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.monitor_query.Activity_monitor_query_dateList"
            android:label="监管查询"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.monitor_query.Activity_monitor_query_date_pics"
            android:label="监管图片查看"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Activity_image_noAction"
            android:label="图片查看"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".activity.expert.Activity_expert_weak_upload_info"
            android:label="病害信息上报"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.expert.Activity_expert_age"
            android:label="树龄鉴定"
            android:screenOrientation="portrait"/>
        <!-- service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>
        <service android:name=".service.service_notice.NoticeService"
            >
            <intent-filter>
                <action android:name="com.action.monitor_notice_service"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>